@import '../vendor/bootstrap-4.0.0/scss/variables';


.article {
  font-size: 1.15em;
  line-height: 1.618;
  margin: 0 auto 3em auto;
  max-width: 50rem;

  & blockquote {
    border-left: 3px solid map_get($theme-colors, "secondary");
    font-style: italic;
    padding-left: 1em;
  }

  & figure {
    margin: 2em 0;
    width: 100%;

    &.float-left {
      width: auto;
      margin-right: 1em;
    }

    & > img {
      @extend .shadow;

      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  // This only targets YouTube videos for now since they're the only divs in our
  // articles, but this is for sure a hack.
  & > div {
    margin: 2em 0;
  }

  & .footnotes {
    font-size: 1rem;
    line-height: 1;
    margin-top: 3em;

    & li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.article__title {
  @extend .display-4;

  margin: .5em 0;
}
