@import '../vendor/materialize-src/sass/materialize';

// Components
@import 'footer';
@import 'hero';

// Main Layout
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
