$enable-shadows: true;


@import '../vendor/bootstrap-4.0.0/scss/bootstrap';

// Components
@import 'article';
@import 'card-stack';
@import 'utils/text';

// Main Layout
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
