<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">

    <title>{{ .Page.Title }}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <header>
      <nav class="grey darken-4">
        <div class="container nav-wrapper">
          <a href="{{ .Site.BaseURL }}" class="brand-logo">
            <i class="material-icons grey-text text-lighten-4">lock</i>
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          {{ $currentPage := . }}
          <ul class="right hide-on-med-and-down">
            {{ range .Site.Menus.main }}
              <li {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}class="active"{{end}}>
                <a href="{{ .URL }}" title="{{ .Title }}">
                {{- .Name -}}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li {{ if .IsHome }}class="active"{{ end }}><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ range .Site.Menus.main }}
          <li {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}class="active"{{end}}>
            <a href="{{ .URL }}" title="{{ .Title }}">
              {{- .Name -}}
            </a>
          </li>
        {{ end }}
      </ul>
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer class="footer">
      <div class="container">
        <p class="center-align grey-text">Copyright (&copy;) Chathan Driehuys, Elijah Long, &amp; Kai Marcus 2018. All rights reserved.</p>
      </div>
    </footer>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    {{ $js := resources.Get "vendor/materialize-src/js/bin/materialize.min.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>
