{{ define "main" }}
  <section class="container">
    <div class="article">
      <h1 class="display-4 mt-3 mb-5">{{ .Title }}</h1>
      {{ with .Content }}
        <div class="lead">
          {{ . }}
        </div>
      {{ end }}
    </div>

    {{ range .Pages }}
      <div class="card my-4 shadow">
        <div class="card-body">
          <h2 class="card-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>
          <p class="card-text">{{ .Summary }}</p>
          <a class="card-link" href="{{ .RelPermalink }}">Read More</a>
        </div>
      </div>
    {{ end }}
  </section>
{{ end }}
