{{ define "main" }}
  <section class="blue py-5" id="intro">
    <div class="container center-align">
      <i class="material-icons large grey-text text-darken-4">lock</i>
      <h1 class="grey-text text-darken-3">{{ .Params.tagline }}</h1>
      <p class="grey-text text-darken-4 flow-text">
        {{ .Params.lead }}
      </p>
    </div>
  </section>

  <section class="grey lighten-3 py-5">
    <div class="container">
      <h3 class="center-align">Has Your Data Been Leaked?</h3>

      <p class="flow-text">
        Check if any data associated with your email address has been exposed using
        <a href="https://haveibeenpwned.com/" rel="noopener noreferrer" target="_blank">Have I Been Pwned</a>.
      </p>

      <div id="hibp-form" style="display: none;">
        <div class="row">
          <form>
            <div class="input-field inline col s12 m6 offset-m2 l5 offset-l3">
              <input class="validate" id="email" name="email" type="email">
              <label for="email">Email Address</label>
            </div>

            <div class="col s12 m2 l1 center-align">
              <button class="btn btn-large blue" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="flow-text">
      {{ .Content }}
    </div>
  </section>
{{ end }}

{{ define "scripts_extra" }}
  {{ $js := resources.Get "js/hibp.js" | minify | fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      initHIBP('#hibp-form');
    });
  </script>
{{ end }}
