{{ define "main" }}
  <section class="bg-primary text-light py-5 text-center" id="intro">
    <div class="container text-shadow">
      <span class="material-icons d-block mb-3" style="font-size: 64px;">lock</span>
      <h1 class="display-4">{{ .Params.tagline }}</h1>
      <p class="lead">{{ .Params.lead }}</p>
    </div>
  </section>

  <section class="bg-light py-5 text-center">
    <div class="container">
      <h2 class="h1">Has Your Data Been Leaked?</h2>
      <p>
        Check if any data associated with your email address has been exposed using
        <a href="https://haveibeenpwned.com/" rel="noopener noreferrer" target="_blank">Have I Been Pwned</a>.
      </p>

      <div id="hibp-form" style="display: none;">
        <form class="form-inline d-flex justify-content-center">
          <input class="form-control mb-2 mr-sm-2" name="email" placeholder="me@example.com" type="email">
          <button class="btn btn-primary mb-2" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="article">
      <h2 class="text-center">Our Mission</h2>
      {{ .Content }}
    </div>
  </section>
{{ end }}

{{ define "scripts_extra" }}
  {{ $js := resources.Get "js/hibp.js" | minify | fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      initHIBP('#hibp-form');
    });
  </script>
{{ end }}
